<!-- PRELOADER -->
<div class="spn_hol">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>

<!-- END PRELOADER -->

<!-- =========================
    START ABOUT US SECTION
============================== -->
<section class="header parallax home-parallax page" id="HOME">
    <h2></h2>
    <div class="section_overlay">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Навигация</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="/images/logo.png" alt="Logo">
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <!-- NAV -->
                        <li><a href="#HOME">Главная</a></li>
                        <li><a href="#ABOUT">О проекте</a></li>
                        <li><a href="#FEATURES">Возможности</a></li>
                        <li><a href="#SCREENS">Фото</a></li>
                        <li><a href="#DOWNLOAD">Скачать</a></li>
                        <li><a href="#CONTACT">Заказать</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container- -->
        </nav>

        <div class="container home-container">
            <div class="row">
                <div class="col-md-12">
                    <div class="logo text-center">
                        <!-- LOGO -->
                        <img width="40%" height="60%" src="/images/logo.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <div class="home_text">
                        <!-- TITLE AND DESC -->
                        <h1>Drive Emotions</h1>
                        <p>Уникальное устройство для взаимодействия между водителями</p>
                        <div class="download-btn">
                            <!-- BUTTON -->
                            <a class="btn home-btn wow fadeInLeft" href="#DOWNLOAD">Скачать</a>
                            <a class="tuor btn wow fadeInRight" href="#ABOUT">Подробнее<i class="fa fa-angle-down"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-1 col-sm-4">
                    <div class="home-iphone">
                        <img src="/images/iPhone_Home.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END HEADER SECTION -->

<!-- =========================
    START ABOUT US SECTION
============================== -->

<section class="about page" id="ABOUT">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <!-- ABOUT US SECTION TITLE-->
                <div class="section_title">
                    <h2>О проекте</h2>
                    <p>Отправляй любую информацию на светодиодную ленту заднего стелка авто</p>
                </div>
            </div>

        </div>
    </div>
    <div class="inner_about_area">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about_phone wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                        <!-- PHONE -->
                        <img src="/images/about_iphone.png" alt="">
                    </div>
                </div>
                <div class="col-md-6  wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                    <!-- TITLE -->
                    <div class="inner_about_title">
                        <h2>Особый продукт<br>неравнодушным<br>водителям</h2>
                        <p>Оставь в покое аварийку - делись своими</p>
                    </div>
                    <div class="inner_about_desc">
                        <!-- SINGLE DESC -->
                        <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1s">
                            <!-- ICON -->
                            <div><i class="pe-7s-timer"></i></div>
                            <!-- HEADING DESCRIPTION -->
                            <h3>Текстами</h3>
                            <p>и скажи "спасибо" по-человечески</p>
                        </div>
                        <!-- END SINGLE DESC -->
                        <!-- SINGLE DESC -->
                        <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1.5s">
                            <!-- ICON -->
                            <div><i class="pe-7s-target"></i></div>
                            <!-- HEADING DESCRIPTION -->
                            <h3>Emoji</h3>
                            <p>и экономь свои нервы</p>
                        </div>
                        <!-- END SINGLE DESC -->
                        <!-- SINGLE DESC -->
                        <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="2s">
                            <!-- ICON -->
                            <div><i class="pe-7s-stopwatch"></i></div>
                            <!-- HEADING DESCRIPTION -->
                            <h3>Gif-анимациями</h3>
                            <p>и обидчику будет нечем ответить</p>
                        </div>
                        <!-- END SINGLE DESC -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="video_area">
        <div class="container">
            <div class="row">
                <div class="col-md-6 wow fadeInLeftBig">
                    <!-- VIDEO LEFT TITLE -->
                    <div class="video_title">
                        <h2>Видео-ролик</h2>
                        <p>который расскажет про основной функционал Drive Emotions</p>
                    </div>
                    <div class="video-button">
                        <!-- BUTTON -->
                        <a class="btn btn-primary btn-video" href="#FEATURES" role="button">Возможности</a>
                    </div>
                </div>
                <div class="col-md-6 wow fadeInRightBig">
                    <!-- VIDEO -->
                    <div class="video">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/ImCPWz_eZr0?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Us -->

<!-- =========================
    START TESTIMONIAL SECTION
============================== -->

<section id="TESTIMONIAL" class="testimonial parallax">
    <div class="section_overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow bounceInDown">
                    <div id="carousel-example-caption-testimonial" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-caption-testimonial" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-caption-testimonial" data-slide-to="1"></li>
                            <li data-target="#carousel-example-caption-testimonial" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <!-- IMAGE -->
                                            <a href="https://vk.com/myshkin.alex" target="_blank"><img src="/images/client_1.png" height="150" width="150" alt=""></a>
                                            <div class="testimonial_caption">
                                                <!-- DESCRIPTION -->
                                                <h2>Мышкин Александр</h2>
                                                <h4><span>Автор идеи,</span> Санкт-Петербург</h4>
                                                <p>“Мы создаём уникальный продукт,<br> предоставляющий новый опыт от вождения”</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <!-- IMAGE -->
                                            <a href="https://vk.com/id8090085" target="_blank"><img src="/images/client_2.png" height="150" width="150" alt=""></a>
                                            <div class="testimonial_caption">
                                                <!-- DESCRIPTION -->
                                                <h2>Егор Царевич</h2>
                                                <h4><span>Главный по железу,</span> Санкт-Петербург</h4>
                                                <p>“Создавая Drive Emotions, мы подбирали макисимально автономные и долговечные компоненты,<br>чтобы водители не испытывали никаких проблем с устройством</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <!-- IMAGE -->
                                            <a href="https://vk.com/ilynx13" target="_blank"><img src="/images/client_3.png" height="150" width="150" alt=""></a>
                                            <div class="testimonial_caption">
                                                <!-- DESCRIPTION -->
                                                <h2>Павел Ясский</h2>
                                                <h4><span>Супер маркетолог,</span> Санкт-Петербург</h4>
                                                <p>“Мы придумали концепцию, ориентированную на все категории водителей.<br>Каждый может настроить Drive Emitions для своих целей”</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- END TESTIMONIAL SECTION -->

<!-- =========================
     START FEATURES
============================== -->
<section id="FEATURES" class="features page">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <!-- FEATURES SECTION TITLE -->
                <div class="section_title wow fadeIn" data-wow-duration="1s">
                    <h2>Возможности</h2>
                    <p>Уникальный, компактный и легкий продукт <br>созданный специально для тебя</p>
                </div>
                <!-- END FEATURES SECTION TITLE -->
            </div>
        </div>
    </div>

    <div class="feature_inner">
        <div class="container">
            <div class="row">
                <div class="col-md-4 right_no_padding wow fadeInLeft" data-wow-duration="1s">
                    <!-- FEATURE -->

                    <div class="left_single_feature">
                        <!-- ICON -->
                        <div><span class="pe-7s-like"></span></div>

                        <!-- FEATURE HEADING AND DESCRIPTION -->
                        <h3><span>| </span>Уникальность</h3>
                        <p>Аналогом Drive Emotions являются обыкновенные знаки, вручную наклеиваемые на стекло автомобиля. Но что делать, если автомобилем пользуются разные люди? Каждый раз переклеивать знаки – это прошлый век, благодаря Drive Emotions, можно использовать заранее настроенную область, в которую, по необходимости, можно добавить необходимые знаки.</p>
                    </div>

                    <!-- END SINGLE FEATURE -->

                    <!-- FEATURE -->
                    <div class="left_single_feature">
                        <!-- ICON -->
                        <div><span class="pe-7s-science"></span></div>

                        <!-- FEATURE HEADING AND DESCRIPTION -->
                        <h3><span>| </span>Безопасность</h3>
                        <p>Благодаря специальным прозрачным материалам, светодиодная лента не будет мешать обзору заднего вида</p>
                    </div>
                    <!-- END SINGLE FEATURE -->

                    <!-- FEATURE -->
                    <div class="left_single_feature">
                        <!-- ICON -->
                        <div><span class="pe-7s-look"></span></div>

                        <!-- FEATURE HEADING AND DESCRIPTION -->
                        <h3><span>| </span>Простота использования</h3>
                        <p>С помощью красивого и простого приложения на телефоне, можно управлять пространством на вашем дисплее: разделить пространство на несколько частей, или быстро добавить текстовую информацию можно просто нажав несколько раз на экран, с приложением разберется даже ребенок.</p>
                    </div>
                    <!-- END SINGLE FEATURE -->

                </div>
                <div class="col-md-4">
                    <div class="feature_iphone">
                        <!-- FEATURE PHONE IMAGE -->
                        <img class="wow bounceIn" data-wow-duration="1s" src="/images/iPhone02.png" alt="">
                    </div>
                </div>
                <div class="col-md-4 left_no_padding wow fadeInRight" data-wow-duration="1s">

                    <!-- FEATURE -->
                    <div class="right_single_feature">
                        <!-- ICON -->
                        <div><span class="pe-7s-monitor"></span></div>

                        <!-- FEATURE HEADING AND DESCRIPTION -->
                        <h3><span>| </span>Широкое<br>Применение</h3>
                        <p>Зачем заказывать дорогие баннеры о продаже, если можно использовать Drive Emotions, как место для рекламы или объявлений: нужно продать утюг или оставить номер телефона, если вдруг пришлось припарковаться, загораживая выезд владельцу гаража? Просто напишите об этом через приложение, сэкономив кучу времени, и ваше сообщение тут же отобразиться на дисплее!</p>
                    </div>
                    <!-- END SINGLE FEATURE -->

                    <!-- FEATURE -->
                    <div class="right_single_feature">
                        <!-- ICON -->
                        <div><span class="pe-7s-phone"></span></div>

                        <!-- FEATURE HEADING AND DESCRIPTION -->
                        <h3><span>| </span>Портативность</h3>
                        <p>Благодаря специальному креплению, Drive Emotions можно легко перемещать. Если Вы планируете не пользоваться автомобилем – можете забрать ваше устройство с собой, и закрепить его, например, на окне своей квартиры, делясь улыбкой и позитивом с прохожими. (На дисплей устройства можно вывести анимированного котика, что было заранее предусмотрено разработчиками)</p>
                    </div>
                    <!-- END SINGLE FEATURE -->

                    <!-- FEATURE -->
                    <div class="right_single_feature">
                        <!-- ICON -->
                        <div><span class="pe-7s-gleam"></span></div>

                        <!-- FEATURE HEADING AND DESCRIPTION -->
                        <h3><span>| </span>Автономность</h3>
                        <p>Используя умный режим потребления энергии и аккумулятору, ёмкостью (вставьте число) MAh, Drive Emotions может проработать целых (вставьте число) дней. Поэтому, Вы можете не переживать, что при длительном отсутствии ваше сообщение пропадет.</p>
                    </div>
                    <!-- END SINGLE FEATURE -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END FEATURES SECTION -->

<!-- =========================
     START CALL TO ACTION
============================== -->
<div class="call_to_action">
    <div class="container">
        <div class="row wow fadeInLeftBig" data-wow-duration="1s">
            <div class="col-md-9">
                <p>Собрано 10000 из 200000 руб</p>
                <progress value="22" max="100"></progress>
            </div>
            <div class="col-md-3">
                <a class="btn btn-primary btn-action" href="http://boomstarter.ru/" target="_blank" role="button">Поддержать проект</a>
            </div>
        </div>
    </div>
</div>

<!-- END CALL TO ACTION -->


<!-- =========================
     Start APPS SCREEN SECTION
============================== -->
<section class="apps_screen page" id="SCREENS">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 wow fadeInBig" data-wow-duration="1s">
                <!-- APPS SCREEN TITLE -->
                <div class="section_title">
                    <h2>Фото</h2>
                    <p>Красивые картиночки сетки, аккумулятора (зарядки), моб приложений</p>
                </div>
                <!-- END APPS SCREEN TITLE -->
            </div>
        </div>
    </div>

    <div class="screen_slider">
        <div id="demo" class="wow bounceInRight" data-wow-duration="1s">
            <div id="owl-demo" class="owl-carousel">

                <!-- APPS SCREEN IMAGES -->
                <div class="item">
                    <a href="/images/iphone04.png" rel="prettyPhoto[pp_gal]"><img src="/images/iphone04.png" width="60" height="60" alt="APPS SCREEN" /></a>
                </div>
                <div class="item">
                    <a href="/images/iphone05.png" rel="prettyPhoto[pp_gal]"><img src="/images/iphone05.png" width="60" height="60" alt="APPS SCREEN" /></a>
                </div>
                <div class="item">
                    <a href="/images/iphone06.png" rel="prettyPhoto[pp_gal]"><img src="/images/iphone06.png" width="60" height="60" alt="APPS SCREEN" /></a>
                </div>
                <div class="item">
                    <a href="/images/iphone07.png" rel="prettyPhoto[pp_gal]"><img src="/images/iphone07.png" width="60" height="60" alt="APPS SCREEN" /></a>
                </div>
                <div class="item">
                    <a href="/images/iphone08.png" rel="prettyPhoto[pp_gal]"><img src="/images/iphone08.png" width="60" height="60" alt="APPS SCREEN" /></a>
                </div>
                <div class="item">
                    <a href="/images/iphone09.png" rel="prettyPhoto[pp_gal]"><img src="/images/iphone09.png" width="60" height="60" alt="APPS SCREEN" /></a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ENS APPS SCREEN -->

<!-- =========================
     Start FUN FACTS
============================== -->

<section class="fun_facts parallax">
    <div class="section_overlay">
        <div class="container wow bounceInLeft" data-wow-duration="1s">
            <div class="row text-center">
                <div class="col-md-3">
                    <div class="single_fun_facts">
                        <i class="pe-7s-cloud-download"></i>
                        <h2><span  class="counter_num">23</span> <span>+</span></h2>
                        <p>Загрузок</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single_fun_facts">
                        <i class="pe-7s-look"></i>
                        <h2><span  class="counter_num">4</span> <span>+</span></h2>
                        <p>Инвесторов</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single_fun_facts">
                        <i class="pe-7s-comment"></i>
                        <h2><span  class="counter_num">12</span> <span>+</span></h2>
                        <p>Обсуждений по улучшению</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single_fun_facts">
                        <i class="pe-7s-cup"></i>
                        <h2><span  class="counter_num">5</span> <span>+</span></h2>
                        <p>Наград</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- END FUN FACTS -->

<!-- =========================
     START DOWNLOAD NOW
============================== -->
<section class="download page" id="DOWNLOAD">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <!-- DOWNLOAD NOW SECTION TITLE -->
                <div class="section_title">
                    <h2>Загрузи приложение</h2>
                    <p>Скачал и смело за руль</p>
                </div>
                <!--END DOWNLOAD NOW SECTION TITLE -->
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="download_screen text-center wow fadeInUp" data-wow-duration="1s">
                    <img src="/images/download_screen.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="available_store">
        <div class="container  wow bounceInRight" data-wow-duration="1s">
            <div class="col-md-6">
                <div class="available_title">
                    <h2>Drive Emotions App<br>Уже доступно</h2>
                    <p>в магазинах AppStore и GooglePlay</p>
                </div>
            </div>

            <!-- DOWNLOADABLE STORE -->
            <div class="col-md-6">
                <div class="row">
                    <a href="">
                        <div class="col-md-4 no_padding">
                            <div class="single_store">
                                <i class="fa fa-apple"></i>
                                <div class="store_inner">
                                    <h2>iOS</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="col-md-4 no_padding">
                        <a href="">
                            <div class="single_store">
                                <i class="fa fa-android"></i>
                                <div class="store_inner">
                                    <h2>ANDROID</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!--<div class="col-md-4 no_padding">
                        <a href="">
                            <div class="single_store last">
                                <i class="fa fa-windows"></i>
                                <div class="store_inner">
                                    <h2>WINDOWS</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>-->
                </div>
                <!-- END DOWNLOADABLE STORE -->
            </div>
        </div>
</section>
<!-- END DOWNLOAD -->

<!-- =========================
     START CONTCT FORM AREA
============================== -->
<section class="contact page" id="CONTACT">
    <div class="section_overlay">
        <div class="container">
            <div class="col-md-10 col-md-offset-1 wow bounceIn">
                <!-- Start Contact Section Title-->
                <div class="section_title">
                    <h2>Оформить заказ</h2>
                    <p>Чтобы оформить заказ, достаточно заполнить информацию ниже</p>
                </div>
            </div>
        </div>

        <div class="contact_form wow bounceIn">
            <div class="container">

                <!-- START ERROR AND SUCCESS MESSAGE -->
                <div class="form_error text-center">
                    <div class="name_error hide error">Пожалуйста, введите ваше имя</div>
                    <div class="email_error hide error">Пожалуйста, укажите свой Email адрес</div>
                    <div class="email_val_error hide error">Пожалуйста, укажите действующий Email адрес</div>
                    <div class="message_error hide error">Пожалуйста, укажите размер сетки и адрес доставки</div>
                </div>
                <div class="Sucess"></div>
                <!-- END ERROR AND SUCCESS MESSAGE -->

                <!-- CONTACT FORM starts here, Go to contact.php and add your email ID, thats it.-->
                <form role="form">
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="name" placeholder="Имя">
                            <input type="email" class="form-control" id="email" placeholder="Email">
                            <input type="text" class="form-control" id="subject" placeholder="Адрес">
                        </div>

                        <div class="col-md-8">
                            <textarea class="form-control" id="message" rows="25" cols="10" placeholder="Комментарий к заказу"></textarea>
                            <button type="button" class="btn btn-default submit-btn form_submit">Заказать</button>
                        </div>
                    </div>
                </form>
                <!-- END FORM -->
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12 wow bounceInLeft">
                    <div class="social_icons">
                        <!--<ul>-->
                            <!--<li><a href=""><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href=""><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href=""><i class="fa fa-dribbble"></i></a>
                            </li>
                            <li><a href=""><i class="fa fa-behance"></i></a>
                            </li>
                            <li><a href=""><i class="fa fa-youtube-play"></i></a>
                            </li>
                        </ul>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END CONTACT -->

<!-- =========================
     Start Subscription Form
==============================

    <section class="subscribe parallax subscribe-parallax" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
        <div class="section_overlay wow lightSpeedIn">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">

                        <!-- Start Subscribe Section Title
                        <div class="section_title">
                            <h2>Подписаться на новости</h2>
                            <p>Будтье в курсе всех важных событий проект Drive Emotions</p>
                        </div>
                        <!-- End Subscribe Section Title
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row  wow lightSpeedIn">
                    <div class="col-md-6 col-md-offset-3">
                        <!-- SUBSCRIPTION SUCCESSFUL OR ERROR MESSAGES
                        <div class="subscription-success"></div>
                        <div class="subscription-error"></div>
                        <!-- Check this topic on how to add email subscription list, http://kb.mailchimp.com/lists/signup-forms/host-your-own-signup-forms
                        <form action="https://drive-emotions.us18.list-manage.com/subscribe/post" method="POST">
                        <input type="hidden" name="u" value="e0efaf866a245a51a8b27fa72">
                        <input type="hidden" name="id" value="503b2dbc81">
                            <div class="form-group">
                                <!-- EMAIL INPUT BOX
                                <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" class="required email form-control" id="mce-EMAIL" placeholder="Введите Email адрес" value="" >
                            </div>
                                <!-- SUBSCRIBE BUTTON
                            <button type="submit" class="btn btn-default subs-btn">Подписаться</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- END SUBSCRIPBE FORM -->

<!-- =========================
     FOOTER
============================== -->
{{> footer }}
<!-- END FOOTER -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter48826934 = new Ya.Metrika({
                    id:48826934,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/48826934" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-43102799-4"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-43102799-4');
</script>

<script type="text/javascript" src="//vk.com/js/api/openapi.js?154"></script>

<!-- VK Widget -->
<div id="vk_community_messages"></div>
<script type="text/javascript">
    VK.Widgets.CommunityMessages("vk_community_messages", 166242446, {disableExpandChatSound: "1",disableNewMessagesSound: "1",tooltipButtonText: "Возник вопрос?"});
</script>

<!-- =========================
     SCRIPTS
============================== -->

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.js"></script>
<script src="/js/jquery.fitvids.js"></script>
<script src="/js/smoothscroll.js"></script>
<script src="/js/jquery.parallax-1.1.3.js"></script>
<script src="/js/jquery.prettyPhoto.js"></script>
<script src="/js/jquery.ajaxchimp.min.js"></script>
<script src="/js/jquery.ajaxchimp.langs.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/waypoints.min.js"></script>
<script src="/js/jquery.counterup.min.js"></script>
<script src="/js/script.js"></script>